@import '../../styles/base/base';

.error {
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: calc(100% - 20.6rem);

    &__message {
        font-size: $font-size-32;
    }
}
