.restaurants-cards-section div {
    background-color: yellowgreen;
}

.restaurant-cards__list {
    display: flex;
    height: 200px;
    width: 100%;
}

.restaurant-cards__list div:first-child {
    background-color: blue;
}
.restaurant-cards__list div:last-child {
    background-color: yellowgreen;
}

.restaurant-cards__list div {
    flex:1;
}
