@import '../../styles/base/base';
@import '../../styles/mixins/mixins';

.restaurant-cards-section {
    &__list {
        display: flex;
        gap: 4rem;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2.4rem;
        margin-top: 6.4rem;
    }

    &__single {
        flex: 1;
        max-width: 39.5rem;
        min-width: 25rem;
    }
}
