@import '../../styles/base/base';

.restaurants-section-title {
    @include typography-h3;

    align-items: center;
    color: $color-fiord;
    display: flex;
    letter-spacing: 0.05rem;
    line-height: 1.2;
}
