@import '../../../styles/base/base';
@import '../../../styles/mixins/mixins';

$_breakpoint-md: 768;
$_breakpoint-sm: 500;

.hello-widget {
    align-items: flex-start;
    color: $color-fiord;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 45.1rem;

    @include respond-between(1126, 1440) {
        width: 50%;
    }
    @include respond-between(990, 1127) {
        width: 40%;
    }
    @include respond-between(769, 991) {
        width: 90%;
    }

    &__time {
        font-size: $font-size-time;
        font-weight: bold;
        line-height: 11.7rem;

        @include respond-between(769, 1440) {
            font-size: $font-size-time-md;
            line-height: 10rem;
        }

        @include respond-to($_breakpoint-md, max) {
            display: inline;
            font-size: $font-size-32;
            height: 4rem;
            left: 8.4rem;
            position: relative;
            top: -14rem;
            visibility: visible;
            width: 4rem;
            z-index: $z-index-header;

            &::after {
                background-color: $color-fiord;
                content: '';
                display: block;
                height: 2.4rem;
                left: 10rem;
                position: absolute;
                top: 4.7rem;
                width: 0.08rem;
            }
        }
        @include respond-to($_breakpoint-sm, max) {
            font-size: $font-size-24;
            left: 3rem;

            &::after {
                left: 7.6rem;
            }
        }
    }

    &__greeting {
        @include typography-h1;
        display: flex;
        @include respond-between(769, 1440) {
            font-size: $font-size-32;
            line-height: 1.2;
        }
        @include respond-to($_breakpoint-md, max) {
            display: none;
        }
    }
}
