@import '../../styles/base/base';
@import '../../styles/mixins/mixins';

.reserved-restaurant {
    width: 35%;

    @include respond-to($breakpoint-reservations-lg, max) {
        margin: 3rem auto;
        max-width: 40rem;
        min-width: 30rem;
        text-align: center;
        width: 80%;
    }

    &__title {
        @include typography-h3;

        color: $color-fiord;
        margin-bottom: 2rem;
    }

    &__empty {
        @include animation('fadeIn 0.2s ease-in forwards');
    }

    .eat-out-section {
        display: block;
        margin-top: 3rem;

        .button {
            margin-top: 2rem;
        }
    }

    .eat-out-card {
        text-align: initial;
    }
}
