@import '../../styles/base/base';
@import '../../styles/mixins/mixins';

.reservation-item {
    margin-bottom: 2rem;

    &__title {
        @include typography-h3;

        color: $color-fiord;
        margin-bottom: 2rem;
    }
}
