@import '../../../styles/base/base';

$_gap: 1.6rem;

.reservations-list {
    margin-left: auto;
    margin-top: 6.4rem;
    max-width: 938px;

    &__details {
        display: flex;
        flex-wrap: wrap;
        gap: $_gap;
    }

    &__title {
        @include typography-h3-alternative;
        margin-bottom: 1.8rem;
    }

    &__search-term {
        @include typography-h3-alternative;
        font-style: italic;
        margin-left: $_gap;
    }

    &__cards {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: $_gap;
    }
}
