@import '../../styles/base/base';

.favorite {
    height: 2.2rem;
    width: 2.4rem;

    &:hover {
        transform: scale(1.1);
    }

    &__heart-icon {
        fill: $color-transparent;
        flex-shrink: 0;
        height: 100%;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 2;
    }

    &__heart-icon--news {
        path {
            stroke: $color-slate-gray;
        }
    }

    &__heart-icon--active {
        fill: $color-watermelon;

        path {
            stroke: $color-watermelon;
        }
    }
}
