@import '../../styles/base/base';

.form__input {
    padding: 1rem;
    border: 1px solid $color-iron;
    border-radius: 5px;
    outline: none;
    color: $color-fiord;

    &:focus {
        border: 1px solid $color-fiord;
    }
    &:disabled {
        border: 1px solid $color-iron;
    }
}

.form__input::placeholder {
    color: $color-iron;
    font-size: 1.4rem;
}
