@import '../../../styles/base/base';
@import '../../../styles/mixins/mixins';

.feed-card {
    background-color: $color-white;
    border-radius: 0.8rem;
    box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.25);
    font-family: $font-family;
    height: 61.2rem;
    width: 39.5rem;

    &__info {
        align-items: center;
        color: $color-midnight;
        display: flex;
        font-family: $font-family;
        font-size: $font-size-12;
        font-weight: $medium-weight;
        text-transform: uppercase;
    }

    &__info-img {
        border-radius: 50%;
        height: 2.4rem;
        margin: 0.8rem 1.2rem 0.8rem 1.6rem;
        object-fit: cover;
        width: 2.4rem;
    }

    &__info p:last-child {
        color: $color-slate-gray;
        margin-left: auto;
    }

    &__time {
        margin-left: 0.815rem;
        margin-right: 1.3rem;
        text-transform: none;
    }

    &__content {
        background-color: $color-black;
        height: 40.5rem;
        object-fit: cover;
        width: 39.5rem;
    }

    &__comments-container {
        @include custom-scrollbar;

        display: inline-block;
        height: 5rem;
        margin: 0.5rem 1.6rem;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    &__comments {
        margin: 0 1.56rem 0 0;
    }

    &__comment {
        margin-bottom: 0.8rem;
        width: 35rem;
    }

    &__commenter-username {
        display: inline;
        font-size: $font-size-10;
        font-weight: $medium-weight;
        line-height: 1.1;
        margin-right: 0.8rem;
        text-transform: uppercase;
    }

    &__comment-text {
        display: inline;
        font-size: $font-size-10;
    }

    &__content-img {
        height: 40.5rem;
        object-fit: cover;
        width: 39.5rem;
    }
}

.interactions-container {
    align-items: center;
    color: $color-slate-gray;
    display: flex;
    font-size: $font-size-12;
    font-weight: $medium-weight;
    height: 4.7rem;
    line-height: 1.3rem;
    overflow: hidden;
    vertical-align: middle;
}

.comment-text::after {
    content: '\a';
    white-space: pre;
}

.new-comment-container {
    display: flex;
    margin-top: 1rem;
}

.new-comment-image {
    border-radius: 50%;
    height: 2.4rem;
    margin: 0.8rem 1.2rem 0.8rem 1.6rem;
    object-fit: cover;
    width: 2.4rem;
}

.comment-input {
    border: 0;
    line-height: 1.1rem;
    margin-right: 2rem;
    width: 27rem;

    &:focus {
        outline: none;
    }
}

.post-button {
    background-color: $color-white;
    border-radius: 0.8rem;
    color: $color-slate-gray;
    cursor: pointer;
    font-size: $font-size-12;
    font-weight: $medium-weight;
    line-height: 1.3rem;
    width: 4.7rem;

    &:focus {
        color: $color-midnight;
        outline: none;
    }
}

.heart-icon {
    cursor: pointer;
    fill: $color-white;
    height: 2.2rem;
    margin: 1.5rem 0.6rem 1.5rem 1.8rem;
    stroke: $color-gull-gray;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2;
    width: 2.4rem;
}

.heart-icon--active {
    fill: $color-watermelon;
    stroke: $color-watermelon;
}

.card-comment-icon {
    cursor: pointer;
    fill: $color-white;
    margin: 1.5rem 0.6rem 1.6rem 1.4rem;
}

.card-comment-icon path:hover {
    stroke: $color-fiord;
}

.birthday-comments-container {
    background-color: $color-white;
    margin-bottom: 4rem;
}

.d-none {
    display: none;
}
