@import '../../../styles/base/base';
@import '../../../styles/mixins/mixins';

.feed-card {
    background-color: $color-white;
    border-radius: $base-border-radius;
    box-shadow: $card-shadow;
    font-family: $font-family;
    height: 61.2rem;
    width: 100%;

    &__info {
        @include typography-caption-caps;

        align-items: center;
        color: $color-midnight;
        display: flex;
    }

    &__info-img {
        border-radius: 50%;
        height: 2.4rem;
        margin: 0.8rem 1.2rem 0.8rem 1.6rem;
        object-fit: cover;
        width: 2.4rem;
    }

    &__info p:last-child {
        color: $color-slate-gray;
        margin-left: auto;
    }

    &__time {
        font-weight: $regular-weight;
        margin-left: 0.815rem;
        margin-right: 1.3rem;
        text-transform: none;
    }

    &__content {
        background-color: $color-black;
        height: 40.5rem;
        object-fit: cover;
        width: 100%;
    }

    &__comments-container {
        @include custom-scrollbar;

        display: inline-block;
        height: 5.7rem;
        margin: 0.5rem 0;
        overflow-x: hidden;
        overflow-y: scroll;
        width: 100%;
    }

    &__comments {
        margin: 0 1.56rem 0 0;
    }

    &__comment {
        margin-bottom: 0.8rem;
        width: 35rem;
    }

    &__commenter-username {
        @include typography-tiny-caps;

        color: $color-fiord;
        display: inline;
        margin-right: 0.8rem;
    }

    &__comment-text {
        color: $color-fiord;
        display: inline;
        font-size: $font-size-10;
        line-height: 1.4;
    }

    &__content-img {
        height: 40.5rem;
        object-fit: cover;
        width: 100%;
    }
}

.interactions-container {
    @include typography-caption-caps;

    align-items: center;
    border-radius: $base-border-radius;
    color: $color-slate-gray;
    display: flex;
    height: 4.8rem;
    margin-left: 0.2rem;
    vertical-align: middle;
}

.comment-text::after {
    content: '\a';
    white-space: pre;
}

.new-comment-container {
    align-items: center;
    display: flex;
    width: 100%;

    .button {
        align-items: center;
        border-radius: $base-border-radius;
        display: flex;
        justify-content: flex-end;
        margin-left: auto;
        padding: 0.5rem;
    }
}

.new-comment-image {
    border-radius: 50%;
    height: 2.4rem;
    margin: 1.2rem;
    margin-left: 0;
    object-fit: cover;
    width: 2.4rem;
}

.comment-input {
    border: 0;
    color: $color-fiord;
    font-family: $font-family;
    line-height: 1.1;
    width: 27rem;

    &::placeholder {
        color: $color-gull-gray;
        font-family: $font-family;
        font-size: $font-size-10;
        line-height: 1.1;
    }

    &:focus {
        outline: none;
    }
}

.favorite {
    margin-right: 0.6rem;
}

.favorite__heart-icon--active {
    fill: $color-watermelon;
    stroke: $color-watermelon;
}

.card-comment-icon {
    cursor: pointer;
    fill: $color-white;
    height: 2.1rem;
    margin: 0 0.6rem 0 1.4rem;
    width: 2.4rem;

    &:hover {
        transform: scale(1.1);
    }
}

.card-comment-icon path:hover {
    stroke: $color-fiord;
}

.birthday-comments-container {
    margin-bottom: 4rem;
    width: 100%;
}

.d-none {
    display: none;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fade-in {
    animation: fade-in 0.1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
