@import '../../styles/base/base';

.button {
    @include typography-h4-alternative;

    background: $color-bright-violet;
    border-radius: 6.5rem;
    color: $color-white;
    font-family: $font-family;
    font-weight: unset;
    line-height: unset;
    padding: 0.8rem 2.4rem;
    text-transform: uppercase;

    &:hover,
    &:focus {
        background: $color-medium-violet;
    }

    &:active {
        background: $color-dark-violet;
    }

    &:disabled {
        background: $color-porcelain;
        color: $color-gull-gray;
    }

    &--large {
        font-size: $font-size-16;
    }

    &--medium {
        font-size: $font-size-12;
        padding: 0.9rem 1.8rem;
    }

    &--with-icon {
        display: flex;
    }

    &--blank {
        background: none;
        color: $color-slate-gray;
        font-weight: $medium-weight;

        &:hover,
        &:focus {
            background: none;
            color: $color-fiord;
        }

        &:active {
            background: none;
            color: $color-midnight;
        }

        &:disabled {
            background: none;
            color: $color-gull-gray;
        }
    }

    &--blank-with-border {
        align-items: center;
        background: none;
        border: 1px solid $color-ghost;
        border-radius: $base-border-radius;
        color: $color-fiord;
        display: flex;
        font-weight: $medium-weight;
        justify-content: space-between;
        padding: 0.6rem 1.2rem;
        text-transform: none;

        &:hover,
        &:focus {
            background: none;
            color: $color-fiord;
        }

        &:active {
            background: none;
            color: $color-midnight;
        }

        &:disabled {
            background: none;
            color: $color-gull-gray;
        }
    }

    &--icon-x {
        background: none;
        line-height: 0;
        padding: 0.2rem;
        position: absolute;
        right: 0.5rem;
        top: 3.5rem;

        &:hover,
        &:focus {
            background: none;
            transform: scale(1.2);
        }

        &:active {
            background: none;
        }
    }

    &--filter-button {
        align-items: center;
        background: none;
        border: 0.1rem solid $color-ghost;
        border-radius: $base-border-radius;
        color: $color-fiord;
        display: flex;
        font-weight: $medium-weight;
        justify-content: space-between;
        padding: 0.6rem 1.2rem;
        text-transform: none;

        &-active {
            background: $color-fiord;
            box-shadow: none;
            color: $color-white;

            .search-bar__check-icon path,
            .search-bar__heart-icon path {
                stroke: $color-white;
            }
        }

        &:hover,
        &:focus {
            background: $color-fiord;
            box-shadow: none;
            color: $color-white;

            .search-bar__heart-icon path,
            .search-bar__check-icon path {
                stroke: $color-white;
            }
        }
    }

    &--pagination {
        background-color: $color-white;
        border: 0.1rem solid $color-ghost;
        border-radius: $secondary-border-radius;
        color: $color-fiord;
        display: grid;
        height: 3.2rem;
        margin-right: 1.6rem;
        padding: 0;
        place-items: center;
        width: 3.2rem;

        .chevron-left,
        .chevron-right {
            height: 1.2rem;
            width: 0.6rem;
        }

        &:focus,
        &:hover {
            background-color: $color-bright-violet;
            color: $color-white;

            .chevron-left path,
            .chevron-right path {
                fill: $color-white;
            }
        }
    }

    &--empty {
        background: none;
        border-radius: 0;
        padding: 0;

        &:hover,
        &:focus {
            background: none;
        }

        &:active {
            background: none;
        }
    }

    &.is-active {
        background-color: $color-bright-violet;
        color: $color-white;
    }

    &.is-static {
        &:hover,
        &:focus {
            background-color: $color-white;
            box-shadow: none;
            cursor: default;
        }
    }
}
