@import '../../styles/base/base';

.button {
    @include typography-h4-alternative;

    background: $color-bright-violet;
    border: 0;
    border-radius: 65px;
    color: $color-white;
    font-family: $font-family;
    outline: none;
    padding: 0.8rem 2.4rem;
    text-transform: uppercase;

    &:hover,
    &:focus {
        background: $color-medium-violet;
    }

    &:active {
        background: $color-dark-violet;
    }

    &:disabled {
        background: $color-porcelain;
        color: $color-gull-gray;
    }

    &--large {
        font-size: $font-size-16;
    }

    &--medium {
        font-size: $font-size-12;
        padding: 0.8rem 1.6rem;
    }

    &__icon-x {
        background: none;
        cursor: pointer;
        line-height: 0;
        padding: 0.2rem;
        position: absolute;
        right: 0.5rem;
        top: 3.5rem;

        &:hover,
        &:focus {
            background: none;
            transform: scale(1.2);
        }

        &:active {
            background: none;
        }
    }
}

.dropdown-btn {
    background: none;
    border: unset;
    cursor: pointer;
    outline: none;
    padding: 0;

    &:hover,
    &:focus {
        background: none;
    }
}
