@import '../../styles/base/base';
@import '../../styles/mixins/mixins';

.Toastify {
    &__toast-container {
        max-width: 34.3rem;
        width: auto;

        @include respond-to(480, max) {
            max-width: unset;
            width: 100%;
        }
    }

    &__toast-body {
        align-items: center;
        display: flex;
        margin: 0;
    }

    &__icon {
        @include square-size(1.6rem);

        flex-shrink: 0;
    }

    &__text {
        margin: 0 1.6rem 0 1rem;
    }

    &__close-buttons {
        @include square-size(1.2rem);

        flex-shrink: 0;
        stroke: $color-fiord;

        &:hover {
            transform: scale(1.2);
        }
    }

    &__toast {
        align-items: center;
        border-radius: 0.5rem;
        font-family: $font-family;
        font-size: $font-size-14;
        font-weight: $bold-weight;
        line-height: 1.14;
        margin-right: 0.4rem;
        min-height: 4.8rem;
        padding: 1.6rem;

        @include respond-to(480, max) {
            margin-right: 0;
        }

        &--success {
            background-color: $color-mint;
            color: $color-fiord;
        }

        &--warning {
            background-color: $color-yellow;
            color: $color-fiord;
        }

        &--info {
            background-color: $color-malibu;
            color: $color-fiord;
        }

        &--error {
            background-color: $color-watermelon;
            color: $color-white;

            .Toastify__close-buttons {
                stroke: $color-white;
            }
        }
    }
}
