@import '../../../styles/base/base';

$_height: 51.7rem;
$_animation: fadeIn 0.5s 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
$_margin: -2.7rem -4.1rem 6.4rem;
$_padding-left: 4rem;
$_padding-top: 2.7rem;

.HERO {
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: $_height;
    justify-content: flex-end;
    margin: $_margin;
    padding-left: $_padding-left;
    padding-top: $_padding-top;

    .breadcrumbs {
        margin-bottom: auto;
    }

    &__categories {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 1.8rem;
    }

    &__title {
        @include typography-h1;

        color: $color-midnight;
        font-size: $font-size-48;
    }

    &__details {
        align-items: center;
        background-color: $color-light-porcelain;
        border-radius: $secondary-border-radius;
        box-shadow: $card-shadow;
        display: flex;
        height: 6.4rem;
        justify-content: space-between;
        margin-right: 4rem;
        padding: 1.6rem;
        position: relative;
        transform: translateY(50%);
    }

    &__loader {
        animation: $_animation;
        display: grid;
        height: $_height;
        margin: $_margin;
        padding-left: $_padding-left;
        padding-top: $_padding-top;
        place-items: center;
    }
}
