@import '../../../styles/base/base';
@import '../../../styles/mixins/mixins';

$_height: 51.7rem;
$_margin: -2.7rem -4.1rem 5.6rem;
$_padding-left: 4rem;
$_padding-top: 2.7rem;

.HERO {
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: $_height;
    justify-content: flex-end;
    margin: $_margin;
    padding-left: $_padding-left;
    padding-top: $_padding-top;

    .breadcrumbs {
        margin-bottom: auto;
    }

    &__categories {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 1.8rem;
    }

    &__title {
        @include typography-h1;

        color: $color-midnight;
        font-size: $font-size-48;

        @include respond-to-mobile() {
            font-size: $font-size-36;
        }
    }

    &__details {
        align-items: center;
        background-color: $color-light-porcelain;
        border-radius: $secondary-border-radius;
        box-shadow: $card-shadow;
        display: flex;
        height: 6.4rem;
        justify-content: space-between;
        margin-right: 4rem;
        padding: 1.6rem;
        position: relative;
        transform: translateY(50%);
    }

    &__loader {
        display: grid;
        place-items: center;
    }
}
