@import '../../styles/base/base';
@import '../../styles/index';
@import './components/form';

.page-container {
    @include typography-body;

    align-items: center;
    background-color: $color-iron;
    color: $color-fiord;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding: 3rem;
    width: 100vw;

    @include respond-to(500, max) {
        padding: 1.5rem;
    }
}

.form-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 55rem;
}

.logo {
    width: 16rem;
}
