@import '../../../styles/base/base';
$section-margin: 1rem;
$widget-padding: 1.5rem;
$content-color: rgba(0, 0, 0, 0.5);
$paragraph-font-size: 2rem;
$temperature-font-size: 6rem;
$temperature-font-color: rgba(0, 0, 0, 0.7);

ul {
    list-style-type: none;
}

.widget {
    font-size: $font-size-caption-2;
    position: relative;
    width: 50rem;

    &__content {
        background: #fff;
        border-radius: 1rem;
        color: $content-color;
        height: 100%;
        padding: $widget-padding 0 $widget-padding $widget-padding;
        position: relative;
        width: 83%;
    }

    &__section {
        display: flex;
        margin-top: $section-margin;
        width: 70%;

        div {
            margin-right: 2rem;
        }
    }

    &__icon {
        margin-right: 0.5rem;
        position: relative;
        top: 0.3rem;
    }

    &__header {
        margin: 0;
        padding: 0;
    }

    &__header,
    &__paragraph {
        align-items: flex-end;
        display: flex;
        letter-spacing: 0.1rem;
        line-height: 1.4rem;
        text-transform: capitalize;
    }

    &__figure {
        height: 20rem;
        margin: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 21rem;

        img {
            width: 100%;
        }
    }

    &__paragraph {
        font-size: $paragraph-font-size;
        line-height: 2.3rem;
        margin-top: 3.5rem;
    }

    &__border {
        border-bottom: 0.1rem solid rgba(0, 0, 0, 0.3);
        margin-top: $section-margin;
        width: 50%;
    }

    &__span {
        color: $temperature-font-color;
        font-size: $temperature-font-size;
        line-height: 5rem;
    }

    &__spinner {
        --webkit-animation: spin 4s linear infinite;
        animation: spin 4s linear infinite;
        height: 6rem;
        position: absolute;
        right: -3rem;
        top: -3rem;
        width: 6rem;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}
