@import '../../../styles/base/base';
$_section-margin: 1rem;
$_content-padding: 1.5rem;
$_content-color: rgba(0, 0, 0, 0.5);
$_paragraph-font-size: 2rem;
$_temperature-font-size: 6rem;
$_temperature-font-color: rgba(0, 0, 0, 0.7);
$_spinner-size: 6rem;
$_spinner-offset: $_spinner-size / -2;

.weather-widget {
    font-size: $font-size-caption-2;
    position: relative;
    width: 50rem;

    &__content {
        background: $color-white;
        border-radius: 1rem;
        color: $_content-color;
        height: 100%;
        padding: $_content-padding 0 $_content-padding $_content-padding;
        position: relative;
        width: 83%;
    }

    &__section {
        display: flex;
        margin-top: $_section-margin;
        width: 70%;
    }

    &__subsection {
        margin-right: 2rem;
    }

    &__icon {
        height: 1.7rem;
        margin-right: 0.5rem;
        position: relative;
        top: 0.3rem;
        width: 1.9rem;
    }

    &__header {
        margin: 0;
        padding: 0;
    }

    &__header,
    &__paragraph {
        align-items: flex-end;
        display: flex;
        letter-spacing: 0.1rem;
        text-transform: capitalize;
    }

    &__figure {
        height: 20rem;
        margin: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 21rem;

        .figure__image {
            width: 100%;
        }
    }

    &__paragraph {
        font-size: $_paragraph-font-size;
        line-height: 1.2;
        margin-top: 3.5rem;
    }

    &__border {
        border-bottom: 0.1rem solid rgba(0, 0, 0, 0.3);
        margin-top: $_section-margin;
        width: 50%;
    }

    &__temperature {
        color: $_temperature-font-color;
        font-size: $_temperature-font-size;
        line-height: 1;
    }

    &__spinner {
        animation: spin 4s linear infinite;
        height: $_spinner-size;
        position: absolute;
        right: $_spinner-offset;
        top: $_spinner-offset;
        width: $_spinner-size;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}
