@import '../../styles/base/base';
@import '../../styles/mixins/mixins';

.news-feed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10rem;

    &__title {
        @include typography-h2-alternative;

        color: $color-fiord;
        margin-bottom: 7rem;
    }

    &__content {
        align-items: flex-start;
        display: grid;
        gap: 4rem;
        grid-template-columns: repeat(3, minmax(15rem, 1fr));
        justify-items: center;

        @include respond-to(1500, max) {
            grid-template-columns: repeat(2, minmax(30rem, 1fr));
        }

        @include respond-to(1091, max) {
            grid-template-columns: repeat(1, minmax(30rem, 60rem));
            justify-content: center;
        }
    }

    &__placeholder {
        align-items: center;
        color: $color-iron;
        display: flex;
        font-size: $font-size-time;
        height: 184px;
        justify-content: center;
        width: 395px;
    }
}

.birthday-card-wrapper {
    height: 18.4rem;
    position: relative;
    width: 100%;
}
