@import '../../styles/base/base';
@import '../../styles/mixins/mixins';

$_box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.2);

.main-layout {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;

    &__content {
        display: flex;
        flex-direction: column;
        margin-left: 20.6rem;
        overflow-x: hidden;
        transition: margin-left 1000ms;
        width: 100%;

        // @include respond-to(500, min) {
        //     margin-left: 100%;
        //     transition: none;
        // }

        &.is_mobile {
            margin-left: 100%;
            transition: none;
        }
    }

    &__mobile-navigation {
        margin-right: auto;

        @include respond-to(501, min) {
            visibility: hidden;
        }
    }

    &__header {
        align-items: center;
        background-color: $color-white;
        box-shadow: $_box-shadow;
        display: flex;
        flex-direction: row;
        flex-shrink: 0;
        height: 9.6rem;
        justify-content: flex-end;
        z-index: $z-index-base;
    }

    &__status {
        align-items: center;
        display: flex;
        flex-direction: row;
    }

    &__notifications {
        height: 2.4rem;
        margin-right: 2.4rem;
        stroke: $color-fiord;
        width: 2.4rem;
    }

    &__profile {
        background-color: $color-white;
        border-radius: 50%;
        height: 4rem;
        margin-right: 4rem;
        width: 4rem;
    }

    &__main {
        background-color: $color-light-porcelain;
        flex: 1;
        padding: 2.7rem 4rem 6.4rem;

        @include respond-to(400, max) {
            padding: 2.7rem 2rem 6.4rem;
        }
    }

    &__footer {
        background-color: $color-white;
        box-shadow: $_box-shadow;
        height: 7.2rem;
        text-align: end;
    }

    &__copyright {
        @include typography-tiny-caps;

        color: $color-fiord;
        margin: 2.9rem 4rem;
        text-transform: uppercase;
    }
}

.main-layout__content--sidebar-closed {
    margin-left: 9.6rem;
    transition: margin-left 1000ms;

    // @include respond-to(500, max) {
    //     margin-left: 0;
    //     transition: none;
    // }

    &.is_mobile {
        margin-left: 0;
        transition: none;
    }
}

.button--mobile-toggle {
    margin-left: 4rem;
}
