@import '../../styles/base/base';
@import '../../styles/mixins/mixins';

$_breakpoint-for-padding: 400;
$_side-margin-normal: 4rem;
$_side-margin-sm: 2rem;

$_box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.2);
$_logo-size: 9.6rem;

.main-layout {
    display: flex;
    flex-direction: row;
    // height: 100vh;
    min-height: 100vh; //used min-height to fix issue on mobile scroll, hopefully it will not make issues on desktop. A NOTE.
    width: 100vw;

    &__skip-link {
        border-radius: 0 0 1.8rem 1.8rem;
        left: calc(50vw - 11.3rem);
        position: absolute;
        top: -4.3rem;
        transition: top 0.2s ease-in;
        z-index: $z-index-above;

        &:focus {
            background-color: $color-bright-violet;
            top: 0;
            transition: top 0.2s ease-in;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        width: 100%;

        @include respond-to-tablet() {
            margin-left: 0 !important;
            padding-bottom: $navigation-size;
            transition: none;
        }
    }

    &__logo-container {
        @include square-size($_logo-size);
        margin-right: auto;

        @include respond-to-mobile() {
            overflow: hidden;
            width: 6rem;
        }
    }

    &__logo {
        @include square-size($_logo-size);

        margin-left: $_side-margin-normal;

        @include respond-to-mobile() {
            margin-left: $_side-margin-sm;
        }
    }

    &__header {
        align-items: center;
        background-color: $color-white;
        box-shadow: $_box-shadow;
        display: flex;
        flex-direction: row;
        flex-shrink: 0;
        height: 9.6rem;
        justify-content: flex-end;
    }

    &__status {
        align-items: center;
        display: flex;
        flex-direction: row;
    }

    &__notifications {
        height: 2.4rem;
        margin-right: 2.4rem;
        stroke: $color-fiord;
        width: 2.4rem;
    }

    &__profile {
        background-color: $color-white;
        border-radius: 50%;
        height: 4rem;
        margin-right: $_side-margin-normal;
        width: 4rem;

        @include respond-to($_breakpoint-for-padding, max) {
            margin-right: $_side-margin-sm;
        }
    }

    &__main {
        background-color: $color-light-porcelain;
        flex: 1;
        padding: 2.7rem 4rem 6.4rem;

        @include respond-to-mobile() {
            padding: 2.7rem 1rem 6.4rem;
        }
    }

    &__footer {
        background-color: $color-white;
        box-shadow: $_box-shadow;
        height: 7.2rem;
        text-align: end;
    }

    &__copyright {
        @include typography-tiny-caps;

        color: $color-fiord;
        margin: 2.9rem 4rem;
        text-transform: uppercase;
    }
}

.main-layout__content--sidebar-closed {
    margin-left: 9.6rem;
    @include respond-to-tablet() {
        margin-left: 0 !important;
        transition: none;
    }
}
