@import '../../styles/base/base';
@import '../../styles/mixins/mixins';

.dashboard {
    display: block;

    &__widgets {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 4.8rem;

        @include respond-to(990, max) {
            gap: 4rem;
            height: 37rem;
            justify-content: center;
            margin-left: 6.5rem;
        }

        // @include respond-between(990, 1440) {
        //     gap: 1.1rem;
        //     height: 20rem;
        // }

        @include respond-between(769, 840) {
            margin-left: 1.5rem;
        }

        @include respond-to(768, max) {
            height: 0;
            margin-bottom: 0;
            visibility: hidden;
            width: 0;
        }
    }
}
