@import '../../styles/base/base';

.dashboard {
    &__widgets {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5rem;
    }

    &__reservations {
        margin-bottom: 5rem;
    }
}
