@import '../../styles/base/base';
@import '../../styles/mixins/mixins';

$_breakpoint: 1490;
$_breakpoint2: 910;

.search-bar__inputs {
    align-items: center;
    color: $color-fiord;
    display: flex;
    flex-direction: row;
    height: 4rem;
    justify-content: space-between;
    width: 100%;

    @include respond-to(500, max) {
        display: block;
        height: auto;
    }

    &-button {
        padding-top: 2.2rem;
    }

    &-date {
        width: 29rem;

        @include respond-to(500, max) {
            width: 100%;
        }
    }

    &-text {
        flex-grow: 2;
        padding-top: 2.2rem;
        position: relative;
    }

    &-text-input {
        @include typography-body-2;

        background-image: url('../../assets/icons/magnifying-glass.svg');
        background-position: 1rem 50%;
        background-repeat: no-repeat;
        background-size: 1.6rem;
        height: 4.8rem;
        line-height: 2.2;
        padding-left: 4.1rem;
        width: 95%;

        @include respond-to($_breakpoint2, max) {
            height: 4rem;
        }

        @include respond-to(500, max) {
            width: 100%;
        }
    }

    &-date-input {
        @include typography-body-2;

        font-family: $font-family;
        font-size: $font-size-14;
        height: 4.8rem;
        line-height: 2.2;
        width: 95%;

        @include respond-to($_breakpoint, max) {
            width: 92%;
        }

        @include respond-to($_breakpoint2, max) {
            height: 4rem;
        }

        @include respond-to(500, max) {
            width: 100%;
        }

        &-label {
            @include typography-caption;

            color: $color-gull-gray;
            line-height: 1.6;
            position: relative;
            text-transform: uppercase;

            @include respond-to($_breakpoint2, max) {
                font-size: $font-size-12;
                line-height: 1.96;
                top: 0.4rem;
            }
        }

        &::-webkit-calendar-picker-indicator {
            appearance: none;
            background-image: url('../../assets/icons/calendar.svg');
            background-size: cover;
            height: 1.6rem;
            width: 1.6rem;
        }
    }

    &-search-button-icon {
        bottom: -0.2rem;
        height: 1.6rem;
        margin-right: 0.4rem;
        position: relative;
        width: 1.6rem;

        path {
            stroke: $color-white;
        }
    }

    &-circle-x-icon {
        height: 1.6rem;
        width: 1.6rem;

        path {
            stroke: $color-fiord;
        }
    }
}
