@import '../../styles/base/base';
@import '../../styles/mixins/mixins';

$_breakpoint: 1010;
$_breakpoint2: 754;

.search-bar {
    background-color: $color-white;
    border-radius: 0.4rem;
    box-shadow: $card-shadow;
    color: $color-fiord;
    height: 23rem;
    margin-top: 2.4rem;
    min-width: 34.5rem;
    padding: 4rem;
    width: 100%;

    @include respond-to($_breakpoint, max) {
        height: 30rem;
    }
    @include respond-to($_breakpoint2, max) {
        height: 36rem;
    }

    &__title {
        @include typography-h2;

        color: $color-fiord;
        margin-bottom: 2.4rem;

        @include respond-to($_breakpoint, max) {
            margin-bottom: 1.8rem;
        }
    }

    &__filter {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 1.6rem;
        width: 25rem;

        @include respond-to($_breakpoint, max) {
            margin-bottom: 1.2rem;
        }
    }

    &__check-icon,
    &__heart-icon {
        height: 1.3rem;
        margin-right: 0.9rem;
        width: 1.3rem;
    }
}
