@import '../../styles/base/base';
@import '../../styles/mixins/mixins';

$_breakpoint: 1515;
$_darkened-slate-gray: darken($color-slate-gray, 2%);

.reservations-card {
    align-items: center;
    backface-visibility: hidden;
    background-color: $color-light-porcelain;
    border-radius: $base-border-radius;
    box-shadow: 0 0.8rem 2.3rem rgba(0, 0, 0, 0.25);
    display: flex;
    margin-top: 5rem;
    padding: 2.3rem 2rem;
    position: relative;
    transform: translateZ(0);
    transition: box-shadow 0.1s ease-out, transform 0.1s ease-out;

    @include respond-to($_breakpoint, max) {
        margin-top: 6rem;
    }

    &--big {
        &:first-child {
            grid-area: devices;
        }

        &:nth-child(2) {
            grid-area: books;
        }

        &:last-child {
            grid-area: rooms;
        }
    }

    &--small {
        width: 25rem;
    }

    &:hover {
        box-shadow: 0 0.8rem 2.3rem rgba(0, 0, 0, 0.15);
        transform: scale(1.02);
    }

    &:active {
        box-shadow: 0 0.8rem 2.3rem rgba(0, 0, 0, 0.2);
        transform: scale(1.01);
    }

    &__title {
        @include typography-h2-alternative;
        color: $color-fiord;
    }

    &__caption {
        @include typography-caption-caps;
        color: $_darkened-slate-gray;
    }

    &__image-box {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);

        &--big {
            right: 12%;
        }

        &--small {
            right: -12%;
        }
    }
}
