@import '../../../styles/base/base';

$_content-margin: 1.6rem;

.card-subheader {
    &__section {
        display: flex;
        justify-content: space-between;
        margin: 0 2.4rem 0 1.6rem;
    }

    &__title {
        @include typography-h2-alternative;

        color: $color-midnight;
        font-style: normal;
        font-weight: $medium-weight;
        letter-spacing: 0.05rem;
        // width: 80%;
    }

    &__favorite-container {
        height: 2.2rem;
        width: 2.4rem;
    }

    &__favorite {
        fill: $color-white;
        height: 2.2rem;
        stroke: $color-fiord;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 2;
        width: 2.4rem;
    }

    &__favorite--active {
        fill: $color-watermelon;
        stroke: $color-watermelon;
    }

    &__time {
        color: $color-slate-gray;
        font-weight: $medium-weight;
        margin: 0 $_content-margin;
    }

    &__favorite path:hover {
        cursor: pointer;
    }
}
