@charset "utf-8";

@import 'base/base';
@import 'mixins/mixins';

@import 'print';

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: $font-size-reset;

    @include respond-to-mobile() {
        font-size: $font-size-reset-mobile;
    }
}

body {
    font-family: $font-family, sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

button {
    background: none;
    border: unset;
    cursor: pointer;
    outline: none;
    padding: 0;

    &:hover,
    &:focus {
        background: none;
    }

    &:focus {
        box-shadow: 0 0 2px 2px $color-fiord;
    }
}

// for screen readers
.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
