@charset "utf-8";

@import 'base/base';
@import 'mixins/mixins';

@import 'print';

$font-family: 'Roboto', sans-serif;

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: $font-size-reset;
}

.app {
    font-family: $font-family;
    margin: 40px auto;
    max-width: 400px;
    width: 100%;
}
