@charset "utf-8";

@import 'base/base';
@import 'mixins/mixins';

@import 'print';

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: $font-size-reset;
}

body {
    font-family: $font-family, sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

button {
    background: none;
    border: unset;
    cursor: pointer;
    outline: none;
    padding: 0;

    &:hover,
    &:focus {
        background: none;
    }

    &:focus {
        box-shadow: 0 0 2px 2px $color-fiord;
    }
}
