@import '../../styles/base/base';
@import '../../styles/mixins/mixins';

$_icon-size: 1.3em;

.filepond--root {
    margin: 0 auto;
    width: 15rem;
}

.filepond--progress-indicator.filepond--load-indicator,
.filepond--progress-indicator.filepond--process-indicator {
    margin-left: 0.2rem;
    margin-top: 0.1rem;
}

.filepond--root[data-style-panel-layout~='circle']
    .filepond--progress-indicator[data-align*='bottom'][data-align*='left'] {
    bottom: 1.8rem;
    left: 3.8rem;
}

.filepond--file-action-button.filepond--file-action-button {
    font-size: $_icon-size;
}

.filepond--drop-label.filepond--drop-label label {
    font-size: $font-size-12;
}

.crop-container {
    @include animation(
        'fade-in 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both'
    );
    background-color: $color-black-faded;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: $z-index-base;

    &__label {
        bottom: 3%;
        color: $color-ghost;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
    }

    .button:first-of-type {
        bottom: 20%;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
    }

    .button:last-of-type {
        bottom: 10%;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
    }
}
