@import '../../styles/base/base';

.reviews {
    &__title {
        @include typography-h3;

        color: $color-fiord;
    }

    &__content {
        color: $color-midnight;
        padding: 0.8rem 0;
    }

    &__buttons {
        display: flex;
        gap: 1rem;
    }
}

.is-empty {
    justify-content: center;
}
