@import '../../styles/base/base';

$_review-line-heigh: 1.5;
$_color-black-transp: rgba(255, 255, 255, 0);

.review-card {
    background: $color-white;
    border-radius: $review-border-radius;
    box-shadow: $card-shadow;
    line-height: $_review-line-heigh;
    margin: 2rem 0;
    max-width: 50rem;
    padding-bottom: 0.1rem;
    position: relative;
    width: 40rem;

    &__title {
        @include typography-body-2-bold;

        font-weight: $bold-weight;
        padding: 2rem;
        padding-bottom: 0;
        text-transform: uppercase;
    }

    &__content {
        @include typography-body-2;

        line-height: $_review-line-heigh;
        margin: 0.6rem 2rem 1.6rem;

        &--truncate {
            max-height: 10.5rem;
            overflow: hidden;
            position: relative;

            &::before {
                background: linear-gradient(
                    to right,
                    $_color-black-transp,
                    $color-white 50%
                );
                content: '';
                height: 2rem;
                inset-block-end: 0;
                inset-inline-end: 0;
                position: absolute;
                width: 8rem;
            }

            &::after {
                background: linear-gradient(
                    to right,
                    $_color-black-transp,
                    $color-white 50%
                );
                content: '';
                height: 2rem;
                inset-inline-end: 0;
                position: absolute;
                width: 8rem;
            }
        }
    }

    &--in-modal {
        margin: 1.5rem auto;
    }
}
