@import '../../../styles/base/base';
$_title-color: 'rgba(0, 0, 0, 0.7)';

.eatOut-card {
    display: grid;
    grid-column-gap: 4rem;
    grid-template-columns: repeat(3, 1fr);

    &__column {
        background: linear-gradient(
            0deg,
            rgba(255, 255, 255, 0) 0%,
            $color-white 100%
        );
        border-radius: 0.8rem;
        padding-bottom: 2rem;
    }

    &__column:nth-child(n + 2) {
        box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.25);
    }

    &__title {
        @include typography-h2-alternative;
        color: $_title-color;
        width: 90%;
    }

    &__header {
        background-color: $color-white;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 0.8rem;
        display: flex;
        flex-direction: column;
        height: 70%;
        justify-content: space-between;
        min-height: 18rem;
        width: 100%;
    }

    &__center {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        justify-content: center;
        padding: 4rem;
    }

    &__icons {
        display: flex;
        justify-content: space-between;
        margin: 1.6rem;
    }

    &__button {
        background: $color-bright-violet;
        border-color: $color-bright-violet;
        border-radius: 6.5rem;
        border-style: solid;
        color: $color-white;
        font-size: $font-size-12;
        height: 3.2rem;
        padding: 0.5rem;
        text-transform: uppercase;
        width: 11rem;
    }

    &__center h1 {
        text-align: center;
    }

    &__categories {
        align-self: flex-start;
        display: flex;
        flex-wrap: wrap;
        margin-left: 1.6rem;
    }

    &__item {
        color: $color-slate-gray;
        font-size: $font-size-20; //for bullet points
        font-weight: 500;
        margin-right: 3.2rem;
        text-transform: uppercase;
    }

    &__category {
        bottom: 0.25rem;
        font-size: $font-size-10;
        position: relative;
    }

    &__categories li:nth-of-type(1) {
        list-style: none;
    }

    &__subSection {
        display: flex;
        justify-content: space-between;
        margin: 0 2.4rem 0 1.6rem;
    }

    &__favoriteContainer {
        height: 2.2rem;
        width: 2.4rem;
    }

    &__favorite {
        fill: $color-white;
        stroke: $color-fiord;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 2;
    }

    &__favorite--active {
        fill: $color-watermelon;
        stroke: $color-watermelon;
    }

    &__time {
        color: $color-slate-gray;
        margin: 0 1.6rem;
    }

    &__favorite,
    &__button:hover {
        cursor: pointer;
    }
}
