@import '../../styles/base/base';
@import '../../styles/mixins/mixins';

.profile-settings {
    @include typography-body-2;

    color: $color-fiord;
    display: flex;
    justify-content: center;

    &__buttons {
        display: flex;
        justify-content: space-between;
        padding: 0 3rem;
        position: relative;
        top: 12rem;
        width: 100%;
    }

    .form {
        margin-top: 1rem;
        padding-top: 7rem;

        &__title {
            position: relative;
            top: -3rem;
        }
    }
}
