@import '../../../styles/base/base';
@import '../../../styles/mixins/mixins';

$_breakpoint: 1000;
$_margin-size: 2.4rem;
$_margin-size-smaller: 1.2rem;
$_media-font-size-multiplier: 0.8;
$_caption-font-size: 1rem;

.eat-out-slider {
    display: flex;
    height: 32.2rem;
    background: #ffffff;
    box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.25);
    border-radius: 0.8rem;

    &__container {
        flex-basis: 66%;
        height: 100%;
    }
    &__image {
        border-radius: 0.8rem;
        height: 100%;
        mask-image: linear-gradient(
            270deg,
            rgba(255, 255, 255, 0) 0%,
            #fff 100%
        );
        object-fit: cover;
        width: 100%;
       
    }
    &__caption {
        margin-top: 1.2rem;
        margin-bottom: 0.4rem;
        font-size: $_caption-font-size;
        text-transform: uppercase;
        color: $color-watermelon;
    }
    &__details {
        flex-basis: 34%;
        padding: 2.4rem;
        // height: 100%;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

    }

    &__title {
        @include typography-h2;
        margin-bottom: $_margin-size-smaller;
    }
    &__main {
        display:flex;
        flex-direction: column;
        width: 100%;
    }
    &__content {
        font-weight: $regular-weight;
        font-size: $font-size-16;
        color: #6a7889;
        width: 77%;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        line-height: 1.5;
    }

    &.animate-out {
        animation: fadeOut 0.25s forwards ease-in-out;
    }

    &.animate-in {
        animation: fadeIn 0.25s forwards ease-in-out;
    }

    .button  {
        background: $color-watermelon;
        font-size: $font-size-16;
        width: 14.6rem;
        cursor:pointer;

        &:hover,
        &:focus {
            background: $color-dark-watermelon
        }
    
        &:active {
            background: $color-dark-watermelon
        }


    }

    @include respond-to(1000, max) {
        &__caption {
            font-size: $_caption-font-size * $_media-font-size-multiplier;
        }
        &__title{
            font-size: $font-size-32 * $_media-font-size-multiplier;
        }
        &__content{
            font-size: $font-size-16 * $_media-font-size-multiplier;
        }
        .button {
            width: 14.6rem * 0.7;
            font-size: $font-size-16 * 0.6;
        }

        // .slider-navigation__circle {
        //    margin-right: 0.5rem;

        // }

        &__container {
            flex-basis: 60%;
        }
            &__details {
                flex-basis: 40%;
            }
     }


    @keyframes fadeOut {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
}
