@import '../../../styles/base/base';
@import '../../../styles/mixins/mixins';

$_breakpoint: 1000;
$_margin-size: 2.4rem;
$_margin-size-smaller: 1.2rem;
$_media-font-size-multiplier: 0.8;
$_caption-font-size: 1rem;
$_slider-border: 0.8rem;

.eat-out-slider {
    background: #fff;
    border-radius: $_slider-border;
    box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.25);
    display: flex;
    height: 32.2rem;
    overflow: hidden;
    width:100%;

    &__container {
        flex: 2;
        height: 100%;
    }

    &__image {
        height:100%;
        mask-image: linear-gradient(
            270deg,
            rgba(255, 255, 255, 0) 0%,
            #fff 100%
        );
        object-fit: cover;  
        width:100%;
    }
    
    &__caption {
        color: $color-watermelon;
        font-size: $_caption-font-size;
        margin-bottom: 0.4rem;
        margin-top: 1.2rem;
        text-transform: uppercase;
    }

    &__details {
        align-items: flex-start;
        display:flex;
        flex: 1;
        flex-direction: column;
        justify-content: space-between;
        padding: 2.4rem;

    }

    &__title {
        @include typography-h2;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        margin-bottom: $_margin-size-smaller;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 77%;
    }

    &__main {
         width: 100%;
    }

    &__content {
        -webkit-box-orient: vertical;
        color: $color-slate-gray;
        display: -webkit-box;
        font-size: $font-size-16;
        font-weight: $regular-weight;
        -webkit-line-clamp: 4;
        line-height: 1.5;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 77%;
    }

    .button  {
        background: $color-watermelon;
        cursor:pointer;
        font-size: $font-size-16;
        width: 14.6rem;

        &:hover,
        &:focus {
            background: $color-dark-watermelon;
        }
    
        &:active {
            background: $color-dark-watermelon;
        }


    }

    &.animate-out {
        animation: fadeOut 0.25s forwards ease-in-out;
    }

    &.animate-in {
        animation: fadeIn 0.25s forwards ease-in-out;
    }  
    
    @keyframes fadeOut {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }
    
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @include respond-to(1000, max) {
        flex-direction: column;

        &__caption {
            font-size: $_caption-font-size * $_media-font-size-multiplier;
            margin-bottom: 0.4rem;
            margin-top: 0.2rem;
        }

        &__title {
            font-size: $font-size-32 * $_media-font-size-multiplier;
            margin-bottom: 0.6rem;
        }

        &__container {
            max-height: 45%;
        }
        
        &__image {
            mask-image: linear-gradient(
                0deg,
                rgba(255, 255, 255, 0) 0%,
                #fff 100%
            );
        }

        &__details {
            max-height: 55%;
            padding-top: 0;
        }

        &__content{
            font-size: $font-size-16 * $_media-font-size-multiplier;
            -webkit-line-clamp: 2;
        }
        
        .button {
            font-size: $font-size-16 * 0.6;
            width: 14.6rem * 0.7;
        }
      }
}
