@import '../../../styles/base/base';
@import '../../../styles/mixins/mixins';

$_bullet-point-size: 0.6rem;
$_bullet-point-margin: 1rem;
$_bullet-point-active-size: 0.8rem;

.slider-navigation {
    display: flex;
    justify-content: space-between;

    &__list {
        align-items: center;
        display: flex;
        list-style-type: none;
    }

    &__circle {
        @include square-size($_bullet-point-size);

        background-color: $color-silver;
        border-radius: 50%;
        margin-right: $_bullet-point-margin;

        &:hover,
        &:focus {
            background-color: $color-silver;
        }
    }

    &__circle.is_active {
        @include square-size($_bullet-point-active-size);

        background-color: $color-darkened-watermelon;
        margin-top: $_bullet-point-margin / 3;
        position: relative;
    }
}
