@import '../../../styles/base/base';

.form-footer {
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 2rem;

    &__link {
        color: $color-bright-violet;
        padding-left: 0.3rem;
        text-decoration: none;
    }
}
