@import '../../../styles/base/base';

.RESERVATIONS {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__title {
        color: $color-dark-blue;
        font-size: $font-size-h2;
        line-height: 3.2rem;

        @media only screen and (max-width: 1265px) {
            text-align: center;
        }
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
