@import '../../../styles/base/base';
@import '../../../styles/mixins/mixins';

$_breakpoint-lg: 1439;
$_breakpoint-md: 990;
$_breakpoint-narrow-lg: 1400;

@mixin two-rows-layout {
    grid-template-areas: 'devices devices rooms rooms' '. books books .';
    grid-template-columns: repeat(4, 1fr);
}

@mixin three-rows-layout {
    grid-template-areas: 'devices' 'books' 'rooms';
    grid-template-columns: 1fr;
    padding: 0 5rem;

    @include respond-to-tablet {
        padding: 0 4rem;
    }

    @include respond-to-mobile {
        padding: 0;
    }
}

.reservations {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__title {
        @include typography-h2-alternative;
        color: $color-fiord;

        @include respond-to($_breakpoint-md, max) {
            text-align: center;
        }
    }

    &__cards {
        display: grid;
        gap: 0 4rem;
        grid-template-areas: 'devices books rooms';
        grid-template-columns: repeat(3, 1fr);

        @include respond-to($_breakpoint-lg, max) {
            @include two-rows-layout;
        }

        @include respond-to($_breakpoint-md, max) {
            @include three-rows-layout;
        }

        &--narrow {
            @include animation('fadeIn 0.2s ease-in forwards');
            @include two-rows-layout;

            @include respond-to($_breakpoint-narrow-lg, max) {
                @include three-rows-layout;
            }
        }

        a {
            text-decoration: none;
        }
    }

    &__image {
        width: 12rem;
    }
}
