@import '../../../styles/base/base';
@import '../../../styles/mixins/mixins';

$_breakpoint-lg: 1365;
$_breakpoint-md: 990;

.RESERVATIONS {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__title {
        @include typography-h2-alternative;
        color: $color-fiord;

        @include respond-to($_breakpoint-md, max) {
            text-align: center;
        }
    }

    &__cards {
        display: grid;
        gap: 0 4rem;
        grid-template-areas: 'devices books rooms';
        grid-template-columns: repeat(3, 1fr);

        @include respond-to($_breakpoint-lg, max) {
            grid-template-areas: 'devices devices rooms rooms' '. books books .';
            grid-template-columns: repeat(4, 1fr);
        }

        @include respond-to($_breakpoint-md, max) {
            grid-template-areas: 'devices' 'books' 'rooms';
            grid-template-columns: 1fr;
            padding: 0 5rem;
        }

        a {
            text-decoration: none;
        }
    }

    &__image {
        width: 12rem;
    }
}
