@import '../../../styles/base/base';
@import '../../../styles/mixins/mixins';

.reservations-card {
    backface-visibility: hidden;
    background-color: $color-light-porcelain;
    border-radius: 8px;
    box-shadow: 0 0.8rem 2.3rem rgba(0, 0, 0, 0.25);
    cursor: pointer;
    display: flex;
    margin-top: 3rem;
    padding: 2.3rem 2rem;
    position: relative;
    transform: translateZ(0);
    transition: box-shadow 0.1s ease-out, transform 0.1s ease-out;
    width: 396px;

    @include respond-to(1265, max) {
        margin-top: 5rem;
    }

    &:hover {
        box-shadow: 0 0.8rem 2.3rem rgba(0, 0, 0, 0.15);
        transform: scale(1.02);
    }

    &:active {
        box-shadow: 0 0.8rem 2.3rem rgba(0, 0, 0, 0.2);
        transform: scale(1.01);
    }

    &:nth-child(2) {
        margin: 0 3.85rem;
        margin-top: 3rem;

        @include respond-to(1265, max) {
            margin-top: 5rem;
        }
    }

    &__title {
        @include typography-h2-alternative;
        color: $color-fiord;
    }

    &__caption {
        @include typography-caption-caps;
        color: $color-slate-gray;
    }

    &__image {
        position: absolute;
        right: 12%;
        top: 50%;
        transform: translateY(-50%);
    }
}
