@import '../../styles/base/base';

.feed-card {
    background-color: $color-white;
    border-radius: 8px;
    box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.25);
    font-family: $font-family;
    height: 61.2rem;
    margin: 8.8rem 4rem 4rem;
    width: 39.5rem;

    &__info {
        align-items: center;
        color: $color-midnight;
        display: flex;
        font-family: $font-family;
        font-size: $font-size-12;
        font-weight: $medium-weight;
        text-transform: uppercase;
    }

    &__info img {
        border-radius: 50%;
        height: 2.4rem;
        margin: 0.8rem 1.2rem 0.8rem 1.6rem;
        object-fit: cover;
        width: 2.4rem;
    }

    &__time {
        margin-left: 0.815rem;
        margin-right: 1.3rem;
        text-transform: none;
    }

    &__content {
        height: 40.5rem;
        object-fit: cover;
        width: 39.5rem;
    }

    &__content img {
        height: 40.5rem;
        object-fit: cover;
        width: 39.5rem;
    }
}

.comments-container p {
    display: inline;
}

.feed-card__info p:last-child {
    color: $color-slate-gray;
    margin-left: auto;
}

.interactions-container {
    align-items: center;
    color: $color-slate-gray;
    font-size: $font-size-12;
    height: 4.7rem;
    line-height: 1.3rem;
    vertical-align: middle;
}

.heart-icon {
    cursor: pointer;
    margin: 1.5rem 0.55rem 1.477rem 1.755rem;
}

.comment-icon {
    cursor: pointer;
    margin: 1.5rem 0.6rem 1.5rem 1.4rem;
}

.comments-container {
    margin: 1.2rem 1.56rem;
}

.commenter-username {
    font-size: $font-size-10;
    font-weight: $medium-weight;
    line-height: 1.1;
    margin-right: 0.8rem;

    text-transform: uppercase;
}

.comment {
    margin-bottom: 0.8rem;
}

.comment-text {
    font-size: $font-size-10;
}

.comment-text::after {
    content: '\a';
    white-space: pre;
}

.new-comment-container {
    display: flex;
}

.new-comment-container img {
    border-radius: 50%;
    height: 2.4rem;
    margin: 0.8rem 1.2rem 0.8rem 1.6rem;
    object-fit: cover;
    width: 2.4rem;
}

.comment-input {
    border: 0;
    line-height: 1.1rem;
    margin-right: 2rem;
    width: 27rem;

    &:focus {
        outline: none;
    }
}

.post-button {
    background-color: $color-white;
    border: 0;
    color: $color-slate-gray;
    cursor: pointer;
    font-size: $font-size-12;
    font-weight: $medium-weight;
    line-height: 1.3rem;

    &:focus {
        color: $color-midnight;
        outline: none;
    }
}
