@import '../../styles/base/base';
@import '../../styles/mixins/mixins';

.reservations-page {
    &__title {
        @include typography-h1;

        color: $color-fiord;
        margin-bottom: 2rem;
    }

    &__all-reservations {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 3rem;

        @include respond-to($breakpoint-reservations-lg, max) {
            flex-direction: column;
        }
    }

    &__new-reservations {
        margin-top: 4rem;
    }
}
