@import '../../styles/base/base';
@import '../../styles/mixins/mixins';

.reservations-page {
    @include typography-body;

    &__title {
        @include typography-h1;

        color: $color-fiord;
        margin-bottom: 2rem;
    }

    &__all-reservations {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 3rem;

        @include respond-to(1100, max) {
            flex-direction: column;
        }
    }

    &__reserved-items {
        display: flex;
        flex-direction: column;
        width: 60%;

        @include respond-to(1100, max) {
            width: 100%;
        }

        .reservation-card {
            margin-bottom: 2rem;
        }
    }

    &__checked-in {
        width: 35%;

        @include respond-to(1100, max) {
            margin: 5rem auto;
            max-width: 40rem;
            min-width: 30rem;
            text-align: center;
            width: 60%;
        }
    }

    &__no-reservations-message {
        @include typography-h4;

        color: $color-fiord;
        margin: 2rem 0;

        @include respond-to(1100, max) {
            display: flex;
            flex-direction: column;
            text-align: center;
        }
    }

    &__widget {
        margin-top: 4rem;
    }

    .RESERVATIONS__cards {
        justify-content: center;
    }

    .reservation-card__status {
        position: relative;
        top: 5rem;
    }

    .reservation-card__cta {
        z-index: $z-index-above;

        .rating-container {
            display: none;
        }

        .reservation-card__caption {
            display: none;
        }
    }

    .eat-out-section {
        display: block;
        margin-top: 3rem;

        .button {
            margin-top: 2rem;
        }
    }
}
