@import '../../styles/base/base';

.Sidebar {
    background-color: $color-bright-violet;
    flex: 0;
    height: 100vh;
    min-width: 206px;
}

.SidebarList {
    background-color: $color-bright-violet;
    height: auto;
    margin-left: 20px;
    padding: 0;
}

.SidebarList .row {
    align-items: center;
    background-color: $color-bright-violet;
    border: 0;
    border-radius: 0 30px 30px 0;
    color: $color-white;
    display: flex;
    flex-direction: row;
    font-family: $font-family;
    font-size: $font-size-16;
    font-weight: 500;
    height: 60px;
    justify-content: center;
    line-height: 1.5;
    margin: 0%;
    outline: none;
    text-align: start;
    width: 100%;
}

.icon {
    stroke: $color-white;
}

.row .icon {
    display: grid;
    flex: 30%;
    place-items: center;
}

.SidebarList .active {
    background-color: $color-light-porcelain;
    border-radius: 30px 0 0 30px;
    color: $color-fiord;

    .icon {
        stroke: $color-fiord;
    }
}

/* .SidebarList #active ::before {
    content: '';
    position: absolute;
    border: 1px solid green;
    height: 60px;
    width: 50px;
    background-color: aqua;
} */

.row .title {
    flex: 70%;
}

.Logo {
    margin-bottom: 100px;
    margin-left: 24px;
    width: 114.72px;
}
