@import '../../styles/base/base';
@import '../../styles/mixins/mixins';

.categories-page {
    &__title {
        @include typography-h1;

        color: $color-fiord;
        margin-bottom: 3.2rem;

        &--uppercase {
            text-transform: uppercase;
        }
    }

    &__section {
        display: grid;
        grid-column-gap: 4rem;
        grid-row-gap: 3.2rem;
        grid-template-columns: repeat(auto-fill, minmax(33rem, 1fr));
    }

    .eat-out-card {
        max-width: 43rem;
    }
}
