@import '../../../styles/base/base';
@import './dropdownContent.scss';

.profile-widget {
    color: $color-fiord;
    height: 76px;
    position: relative;
    width: 58px;

    &__arrow {
        bottom: 36px;
        position: absolute;
        right: 18px;
    }
}
