@import '../../../styles/base/base';
@import '../../../styles/index';

.page-container {
    align-items: center;
    background-color: $color-iron;
    color: $color-fiord;
    display: flex;
    font-family: $font-family;
    height: auto;
    justify-content: center;
    line-height: 1.5;
    min-height: 100vh;
    width: 100vw;
}

.form-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 544px;
}

.logo {
    width: 162px;
}

.form {
    background-color: $color-white;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);

    font-size: $font-size-14;
    margin-top: 5rem;
    padding: 5rem 3rem;
    width: 100%;

    &__header {
        padding-bottom: 2.5rem;
    }

    &__heading {
        font-size: $font-size-h2;
        font-weight: $heavy-weight;
        line-height: 1.33;
    }

    &__under-heading {
        line-height: 1.5;
        padding-top: 0.4rem;
    }

    &__row {
        color: $color-gull-gray;
        display: flex;
        flex-direction: row;
        font-weight: $medium-weight;
        justify-content: space-between;
        padding: 0.8rem 0;
        text-transform: uppercase;
    }

    &__item {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 48%;

        &--long {
            width: 100%;
        }
    }

    &__footer {
        align-items: baseline;
        display: flex;
        justify-content: space-between;
        padding-top: 1.5rem;
    }

    &__signin-link {
        color: $color-bright-violet;
        padding-left: 0.3rem;
        text-decoration: none;
    }

    &__error-msg {
        color: $color-watermelon;
        font-size: $font-size-10;
        font-weight: $medium-weight;
        line-height: 1.1;
        padding-top: 1rem;
    }
}
