@import '../../styles/base/base';
@import '../../styles/mixins/mixins';

html,
body {
    height: 100%;
}

body {
    align-items: center;
    color: $color-midnight;
    display: flex;
    font-family: $font-family;
    font-size: $font-size-10;
    justify-content: center;
}

button {
    font-family: $font-family;
}

ul {
    list-style-type: none;
    padding-inline-start: 35px;
}

svg {
    visibility: visible;
    width: 100%;
}

h1 {
    font-size: $font-size-10;
    font-weight: bold;
    margin: 15px 0;
}

h2 {
    font-weight: bold;
}

.btn {
    background: transparent;
    border-radius: 30px;
    cursor: pointer;
    font-size: $font-size-10;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 5px 0;
    overflow: hidden;
    padding: 8px 50px;
    position: relative;
    transition: 0.2s ease;
    z-index: $z-index-base;

    &.green {
        border: 4px solid $color-bright-violet;
        color: $color-midnight;

        &::before {
            background: $color-bright-violet;
            content: '';
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            transition: 0.2s ease;
            width: 0%;
            z-index: $z-index-hidden;
        }

        &:hover {
            background: $color-bright-violet;
            color: $color-white;
            transition: 0.2s ease;

            &::before {
                width: 100%;
            }
        }
    }
}
