@mixin respond-to($size, $dir) {
    @if ($size == retina) {
        // stylelint-disable media-feature-name-no-vendor-prefix
        @media only screen and (min-resolution: 2dppx),
            (-webkit-min-device-pixel-ratio: 2) {
            @content;
        }
    } @else if ($size and $dir) {
        @media screen and (#{$dir}-width: ($size + px)) {
            @content;
        }
    }
}

@mixin respond-to-mobile() {
    @include respond-to(500, max) {
        @content;
    }
}

@mixin respond-to-tablet() {
    @include respond-to(768, max) {
        @content;
    }
}

@mixin respond-between($lower, $upper) {
    @media (min-width: $lower + px) and (max-width: ($upper - 1) + px) {
        @content;
    }
}

//text overflow trim
@mixin trim($numLines: null) {
    //95% support in caniuse.com/.
    @if $numLines != null {
        /* stylelint-disable */
        -webkit-box-orient: vertical;
        display: -webkit-box;
        /* stylelint-enable */
        -webkit-line-clamp: $numLines;
        overflow: hidden;
    } @else {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
// scrollbar
@mixin custom-scrollbar {
    /* The emerging W3C standard that is currently Firefox-only */
    scrollbar-color: $color-iron $color-white;

    /* Works on Chrome/Edge/Safari */
    &::-webkit-scrollbar {
        width: 2rem;
    }

    &::-webkit-scrollbar-track {
        background: none;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $color-iron;
        border: 6px solid $color-white;
        border-radius: 20px;
    }
}

@mixin calendar-picker($imageUrl) {
    &::-webkit-calendar-picker-indicator {
        appearance: none;
        background-image: url($imageUrl);
        background-size: cover;
        cursor: pointer;
        height: 1.6rem;
        width: 1.6rem;

        &:hover {
            transform: scale(1.1);
        }
    }
}

//setting height and width of a square

@mixin square-size($squareSize) {
    height: $squareSize;
    width: $squareSize;
}

/* ANIMATINOS
    to use animations:
    @include animation("animationName animationTime etc")
*/

@mixin keyframes($animation-name) {
    @keyframes #{$animation-name} {
        @content;
    }
}

//for icons - to get same size as desktop, because it seems that on the small resolutions(like phone) icons are too small.

@mixin desktop-size($width, $height) {
    height: $height;
    width: $width;

    @include respond-to-mobile() {
        height: $height * $resize-coefficient;
        width: $width * $resize-coefficient;
    }
}

@mixin desktop-size-square($size) {
    @include desktop-size($size, $size);
}

@mixin animation($str) {
    animation: #{$str};
}

// custom animations
@include keyframes(fadeIn) {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@include keyframes(grow) {
    0% {
        opacity: 0;
    }

    1% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@include keyframes(shake) {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-10deg);
    }

    50% {
        transform: rotate(10deg);
    }

    75% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}
