@mixin respond-to($size, $dir) {
    @if ($size == retina) {
        // stylelint-disable media-feature-name-no-vendor-prefix
        @media only screen and (min-resolution: 2dppx),
            (-webkit-min-device-pixel-ratio: 2) {
            @content;
        }
    } @else if ($size and $dir) {
        @media screen and (#{$dir}-width: ($size + px)) {
            @content;
        }
    }
}

@mixin custom-scrollbar {
    /* The emerging W3C standard that is currently Firefox-only */
    scrollbar-color: $color-iron $color-white;

    /* Works on Chrome/Edge/Safari */
    &::-webkit-scrollbar {
        width: 2rem;
    }

    &::-webkit-scrollbar-track {
        background: none;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $color-iron;
        border: 6px solid $color-white;
        border-radius: 20px;
    }
}
