@import '../../styles/base/base';

$_message-spacing: 1.6rem;

.success-message {
    @include typography-body-2-medium;

    align-items: center;
    background-color: $color-mint;
    border-radius: $secondary-border-radius;
    display: flex;
    font-weight: 700;
    justify-content: flex-start;
    padding: $_message-spacing;
    position: relative;
    text-align: center;

    &__icon {
        margin-right: 1rem;
    }

    .button--icon-x {
        right: $_message-spacing;
        top: $_message-spacing;

        path {
            stroke: $color-fiord;
        }
    }
}
