/* to use animations:
  @include animation("animationName animationTime etc")
  @include animation("fadeIn 1s ease-in forwards");
*/

@mixin keyframes($animation-name) {
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
    animation: #{$str};
}

// animations
@include keyframes(fadeIn) {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
