@import 'colors';
@import 'typography';
@import 'config';

//z-index values

$z-index-header: 1;
$z-index-base: 1;
$z-index-above: 10;
$z-index-behind: -1;
$z-index-hidden: -1000;

$base-border-radius: 0.8rem;
$secondary-border-radius: 0.5rem;
$card-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.25);

$icon-size: 2.4rem;
