// Basic Colors
$color-black: #000;
$color-white: #fff;
$color-transparent: transparent;

//styleguide palette

$color-midnight: #001836;
$color-fiord: #3e5067;
$color-slate-gray: #6a7889;
$color-silver: #c4c4c4;
$color-gull-gray: #94a3ad;
$color-ghost: #cacfd5;
$color-iron: #dcdfe3;
$color-porcelain: #edeff1;
$color-light-porcelain: #f6f7f8;
$color-watermelon: #ff6e75;
$color-dark-watermelon: #e56369;
$color-mint: #7bf1a8;
$color-yellow: #fadb5e;
$color-malibu: #72ddf7;
$color-mauve: #b892ff;
$color-bright-violet: #6e44ff;

//Derived Colors

$color-medium-violet: rgba(88, 54, 204, 1);
$color-dark-violet: rgba(70, 44, 163, 1);
$color-dark-fiord: #31465e;
$color-black-faded: rgba(0, 0, 0, 0.8);
$color-darkened-gull-gray: darken($color-gull-gray, 18.5%);
$color-darkened-slate-gray: darken($color-slate-gray, 2%);
$color-darkened-watermelon: darken($color-watermelon, 25%);
