// Colors
$color-black: #000;
$color-white: #fff;

$color-dark-blue: #31465e;

$color-bright-violet: #6e44ff;
$color-medium-violet: rgba(88, 54, 204, 1);
$color-dark-violet: rgba(70, 44, 163, 1);

$color-grey-1: #001836;
$color-grey-2: #3e5067;
$color-grey-3: #6a7889;
$color-grey-4: #94a3ad;
$color-grey-5: #cacfd5;
$color-grey-6: #dcdfe3;
$color-grey-7: #edeff1;
$color-grey-8: #f6f7f8;

$color-yellow: #fadb5e;
$color-pink: #ff6e75;
$color-light-blue: #72ddf7;
$color-light-green: #7bf1a8;
$color-light-purple: #b892ff;
