// Colors
$color-black: #000;
$color-white: #fff;
$color-dark-blue: #31465e;
$color-bright-violet: #6e44ff;
$color-medium-violet: rgba(88, 54, 204, 1);
$color-dark-violet: rgba(70, 44, 163, 1);
$color-grey-1: #001836;
$color-grey-2: #3E5067;
$color-grey-3: #6A7889;
$color-grey-4: #94A3AD;
$color-grey-5: #CACFD5;
$color-grey-6: #DCDFE3;
$color-grey-7: #EDEFF1;
$color-grey-8: #F6F7F8;
