@import '../../styles/base/base';
@import '../../styles/mixins/mixins';

.current-info {
    @include typography-body;

    border-bottom-left-radius: $base-border-radius;
    border-top-left-radius: $base-border-radius;
    box-shadow: $card-shadow;
    color: $color-light-porcelain;
    max-width: 40rem;
    padding: 5rem 2.4rem;

    @include respond-to($breakpoint-settings-md, max) {
        max-width: unset;
        padding: 2.4rem;
    }

    &__title {
        @include typography-h3-alternative;

        margin-bottom: 2rem;
        text-align: flex-start;

        @include respond-to($breakpoint-settings-md, max) {
            text-align: center;
        }
    }

    &__items {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    &__item {
        color: $color-white;
        display: flex;
        flex-direction: column;
        margin-bottom: 3rem;

        @include respond-to($breakpoint-settings-md, max) {
            align-items: center;
            flex-direction: row;
            justify-content: flex-start;
            margin-bottom: 0.5rem;
        }
    }

    &__item-title {
        @include typography-body-bold;
        letter-spacing: 0.05rem;

        @include respond-to($breakpoint-settings-md, max) {
            margin-bottom: 0;
            width: 9rem;
        }
    }
}
