@import '../../styles/base/base';
@import '../../styles/mixins/mixins';

.profile-settings-nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;

    @include respond-to($breakpoint-settings-md, max) {
        margin-bottom: 2.5rem;
    }

    &__left {
        width: 19rem;
    }

    .profile-widget__picture {
        @include square-size(11rem);

        margin-right: 6rem;

        @include respond-to($breakpoint-settings-md, max) {
            margin-right: 3rem;
        }
    }
}
